<div id="thumbnail-layout">
  <!-- Page Info -->
  <header id="page-info">
    <h1 id="page-title">{{ site.title }}</h1>
    <p id="page-description">{{ site.description }}</p>
  </header>

  <section id="thumbnail-section">
    <!-- Search / Links Bar -->
    <div id="search-bar"> 
      <!-- Links Button Trigger -->
      <div id="filter-button">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z"/>
        </svg>
        <span>Filter by Rating</span>
      </div>

      <div class="filter-by-rating">
        <a href="/">Show All</a>
      </div>
      <!-- Rating Filters (initially hidden) -->
      {% for r in [5,4,3,2,1] %}
        <a href="/rating/{{ r }}/" class="filter-by-rating">{{ r }} Stars</a>
      {% endfor %}
    </div>

    <!-- Thumbnails Grid -->
    <ul id="thumbnail-grid" data-page="thumbnails">
      {%- for book in books -%}
        <li class="thumbnail" data-rating="{{ book.data.rating }}">
          <div class="thumbnail__content">
            <a href="{{ book.url }}" class="thumbnail-link">
            <img class="thumbnail__book-cover" src="{{ '/assets/covers/' | url }}{{ book.data.image }}" alt="Book cover of {{ book.data.title }}">
          </a>

            <div class="book__spine"></div>

            <div class="thumbnail__info">
              <h3 class="thumbnail__book-title">{{ book.data.title }}</h3>
              <span class="thumbnail__book-author">by {{ book.data.author }}</span>

              <div class="thumbnail__statuses">
                <!-- Length -->
                <span class="thumbnail__status" data-label="Length">
                  <svg class="thumbnail__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"/>
                  </svg>
                  {{ book.data.length }}
                </span>

                <!-- Date Read -->
                <span class="thumbnail__status" data-label="Date Read">
                  <svg class="thumbnail__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                  </svg>
                  {{ book.data.end_date.slice(0, 4) }}
                </span>

                <!-- Rating -->
                <span class="thumbnail__status {% if book.data.rating == 5 %}thumbnail__status--highlight{% endif %}" data-label="Rating">
                  <svg class="thumbnail__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                  </svg>
                  {{ book.data.rating }}
                </span>
              </div>
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>

    <!-- Pagination -->
    <nav id="thumbnail__pagination" role="navigation" aria-label="Thumbnail pagination">
      {% if pagination.href.previous %}
        <a href="{{pagination.href.previous}}" id="thumbnail__pagination-previous" aria-label="Previous thumbnails" title="Previous thumbnails">
          <span aria-hidden="true">&lt;</span>
        </a>
      {% endif %}
      {% if pagination.href.next %}
        <a href="{{pagination.href.next}}" id="thumbnail__pagination-next" aria-label="Next thumbnails" title="Next thumbnails">
          <span aria-hidden="true">&gt;</span>
        </a>
      {% endif %}
    </nav>
  </section>
</div>

<!-- Modal Overlay -->
<div id="modal">
  <div id="modal-content">
    <button id="modal-close" aria-label="Close modal">✖</button>
    <div id="modal-body"></div>
  </div>
</div>

