---
layout: base.njk
pagination:
  data: collections.ratingsList
  size: 1
  alias: rating
permalink: "/rating/{{ rating }}/"
eleventyComputed:
  title: "{{site.initial}}'s {{ rating }} Star Rated Books"
---
<body data-page="home">
  {% set books = collections[rating + "StarBooks"] %}

  {% include 'thumbnails.njk' %}
